<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/webjars/bootstrap/5.2.3/css/bootstrap.min.css'>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Анализатор страниц</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link" href="/urls">Сайты</a>
            </div>
        </div>
    </div>
</nav>

    <div th:if="${session.flashSuccess}" class="alert alert-success mb-0" role="alert" th:text="${session.flashSuccess}"></div>
    <div th:if="${session.flashDanger}" class="alert alert-danger mb-0" role="alert" th:text="${session.flashDanger}"></div>
    <div th:if="${session.flashInfo}" class="alert alert-info mb-0" role="alert" th:text="${session.flashInfo}"></div>
    <div th:if="${session.flashSuccess}" th:text="${#session.removeAttribute('flashSuccess')}"></div>
    <div th:if="${session.flashDanger}" th:text="${#session.removeAttribute('flashDanger')}"></div>
    <div th:if="${session.flashInfo}" th:text="${#session.removeAttribute('flashInfo')}"></div>
<main class="flex-grow-1">
<section layout:fragment="content"></section>
</main>
<footer class="footer border-top py-3 mt-5 bg-light">
    <div class="container-xl">
        <div class="text-center">
            created by
            <a href="https://github.com/SergeiMed" target="_blank">SergeiMed</a>
        </div>
    </div>
</footer>
</body>
</html>